@model IEnumerable<OrderModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Orders";
}

<div>
    <p>This is the Orders View</p>
    <div>
        @foreach (var order in Model)
        {
            <details>
                <summary hx-get="/Main/Products?orderID=@order.OrderID" hx-swap="innerHTML" hx-target="next div" hx-trigger="click">Order @order.OrderID</summary>
                <div>content</div>
            </details>
        }
    </div>
</div>