@model IEnumerable<OrderModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Orders";
}

<div>
    <p>This is the Orders View</p>
    <div>
        @foreach (var order in Model)
        {
            <div hx-get="/" hx-swap="none" hx-trigger="click">Order @order.OrderID</div>
        }
    </div>
</div>